In [309]:
pip install pandas

Requirement already satisfied: pandas in c:\users\jashmine\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\jashmine\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\jashmine\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\jashmine\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\jashmine\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [310]:
import pandas as pd

In [311]:
df = pd.read_csv('adult.data.csv')
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [312]:
#How many people of each race are represented in this dataset?
#This should be a Pandas series with race names as the index labels. (race column)

race_count =  pd.Series(df['race'].value_counts())
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [313]:
# What is the average age of men?
average_age_men= float('{:,.1f}'.format(df['age'].loc[df.sex =='Male'].mean()))
average_age_men

39.4

In [334]:
# What is the percentage of people who have a Bachelor's degree?
percentage_bachelor=(df['education'].loc[df.education=='Bachelors'].count()/df['education'].count())*100
percentage_bachelors = float('{:,.1f}'.format(percentage_bachelor))
percentage_bachelors

16.4

In [315]:
    # What percentage of people without advanced education make more than 50K?

    # with and without `Bachelors`, `Masters`, or `Doctorate`

In [394]:
adv =  df[df['salary'] == '>50K']
sal = adv.loc[(adv.education=='Bachelors')|(adv.education=='Masters')|(adv.education=='Doctorate')]

sal2 = adv.loc[(adv.education!='Bachelors')&(adv.education!='Masters')&(adv.education!='Doctorate')]
sal2['education'].count()

4355

In [379]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?

higher_education_rich = None
advance = df[(df.education == 'Bachelors')|(df.education=='Masters')|(df.education=='Doctorate')]
advance['education'].count()

higher_education_richs = (sal['education'].count()/advance['education'].count())*100
higher_education_rich = float('{:,.1f}'.format(higher_education_richs))
higher_education_rich

46.5

In [396]:
# What percentage of people without advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?


not_advance = df[(df.education != 'Bachelors')&(df.education!='Masters')&(df.education!='Doctorate')]
not_advance['education'].count()
lower_education_richs = (sal2['education'].count()/not_advance['education'].count())*100
lower_education_rich = float('{:,.1f}'.format(lower_education_richs))
lower_education_rich

17.4

In [342]:
nsal = adv.loc[(adv.education!='Bachelors')&(adv.education!='Masters')&(adv.education!='Doctorate')]



lower_education_rich = (nsal['education'].count()/df['education'].count())*100
lower_education_rich

13.374896348392248

In [341]:
higher_education = sal['education'].count()
lower_education = nsal['education'].count()
higher_education

3486

In [442]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()

2

In [445]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K? 

rich_percentage = (df.salary[df['salary']=='>50K'].loc[df['hours-per-week']==1].count()/df.salary[df['hours-per-week'] == 1].count())*100
rich_percentage

10.0

In [480]:
# What country has the highest percentage of people that earn >50K?
earing_more = adv['native-country'].value_counts()
country_all=df['native-country'].value_counts()
hf = (earing_more/country_all)*100
highest_earning_country = hf.sort_values(ascending=False).index[0]
highest_earning_country

'Iran'

In [483]:
highest_earning_country_percentages = hf.sort_values(ascending=False)[0]
highest_earning_country_percentage = float('{:,.1f}'.format(highest_earning_country_percentages))
highest_earning_country_percentage

41.9

In [277]:
 # Identify the most popular occupation for those who earn >50K in India.
top_IN_occupation = adv['occupation'].loc[adv['native-country']=='India'].value_counts().index[0]
top_IN_occupation

'Prof-specialty'